/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/* * {border: 1px dotted black;} */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*   * {background-color: rgba(0,0,0,5%);} */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

* {margin: 0;
   padding: 0;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 300;
}

html {
   scroll-behavior: smooth;
}

a {
   color: white;
}

/*index*/

.wrapper {
   background-color: white;
   width:100%;
   /*height:10000px;*/
   
}

/*navbar*/

nav {
   background-color: black;
   color: white;
   height: 100px;
   width: 100%;
   top: 0;
   position: fixed;
   z-index: 999;
}

nav a {
   color: white;
   text-decoration: none;
}

nav a:visited {
   color: white;
}



nav ul {
   list-style-type: none;
   width: 100%;
}

nav h3 {
   float: left;
   background-color: black;
   width: 20%;
   padding: 35px 0px;
   text-align: center;
}

nav h3:hover {
   text-decoration: underline;
}

nav img {
   float: left;
   background-color: black;
   width: 10%;
   padding: 25px 5%;
   max-width: 100px;
   max-height: 50px;
}

.opvulling {
   float: left;
   height: 100px;
   width: 100%;
   background-color: red;
   position: auto;
}

/*homepagevideo*/

video {
   position: relative;
}

.overlayText h1 {
   color: white;
   font-size: 75px;
   align-self: center;
   position: absolute;
   top: 30%;
   right: 10%;
   z-index: 1;
}

.overlayText h2 {
   color: black;
   padding: 4px;
   font-size: 35px;
   align-self: center;
   position: absolute;
   top: calc(40% + 8px);
   right: 10%;
   z-index: 1;
   background-color: white;
}

/*.overlayText h3 {
   color: black;
   padding: 4px;
   font-size: 35px;
   align-self: center;
   position: absolute;
   top: 41%;
   right: 10%;
   z-index: 1;
   background-color: white;
}*/

/*highlights*/

.highlights {
   background-color: white;
   text-align: center;
   padding: 50px 0px 50px;
   font-size: xx-large;
}

.highlights img {
   width: 20%;
   margin: 5% 2.5%;
   border-radius: 10%;
   transition: 0.5s ease;
}


.highlights img:hover {
   width: 25%;
   margin:2.5%;
}

/*Mooie grote fotos op homepage*/

.homepaginafoto1 {
   position: relative;
   text-align: center;
   color: white;
}

.homepaginafoto1 h1 {
   z-index: 1;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 5px;
   background-color: black;
   font-size: 100px;
}

.homepaginafoto1 h1:hover {
   background-color: white;
   color: black;
}

.homepaginafoto1 img {
   border-radius: 0%;
   transition: 0.5s;
}

.homepaginafoto1 img:hover {
   border-radius: 10%;
}

.homepaginafoto2 {
   position: relative;
   text-align: center;
   color: white;
   border-radius: 10%;
}

.homepaginafoto2 h1 {
   z-index: 1;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 5px;
   background-color: black;
   font-size: 100px;
}

.homepaginafoto2 h1:hover {
   background-color: white;
   color: black;
}


.homepaginafoto2 img {
   border-radius: 0%;
   transition: 0.5s;
}

.homepaginafoto2 img:hover {
   border-radius: 10%;
}

/*Slideshow*/

.slideshow {box-sizing:border-box}

.slideshow h1 {
   text-align: center;
   font-size: 80px;
   padding: 50px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #a69f95;
}

.text {
  color: #a69f95;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #a69f95;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Footer*/

footer {
   width: 100%;
   height: 500px;
   background-color: black;
   float: left;
   position: relative;
}

#footerverticaleopvulling {
   float :left;
   width: 10%;
   height: 100%;
   background-color: black;
}

#footerhorizontaleopvulling {
   float: right;
   width: 90%;
   height: 20%;
   background-color: black;
}

#footerlogo {
   float: left;
   margin-right: 14%;
}

.dienst {
   float: left;
   margin-right: 13%;
}

footer h1 {
   color: white;
   font-size: 35px;
   float: left;
}

footer h2 {
   color: white;
   font-size: 18px;
   float: left;
}


footer hr {
   width: 80%;
   height: 5px;
   background-color: white;
}

footer a {
   color: black;
   font-size: 14;
   left: 48%;
   top: 50%;
   position: absolute;
}



/*Collectie*/

.collectie{
   width: 100%;
   background-color: black;
}

.collectie h1{
   margin-left: 5%;
}

.filler{
   height:121px;
   background-color: pink;
}


article{
   width: 400px;
   height: auto;
   margin: 3%;
   float: left;  
}

article img{
   width: 100%;
}


/*Product*/


.fillerproduct{
   height:100px;
   background-color: pink;
}

.plaatjeproduct{
   width: 50%;
   height:auto;
   float: left;
}

.plaatjeproduct img{
   width: 100%;
}

.wrapperbeschrijving{
   width: 40%;
   padding:5%;
   height:auto;
   background-color: white;
   float: right;
}

.wrapperbeschrijving a{
   text-decoration: none;
}

.titleproduct{
   height:100px;
}

.titleproduct h1{
   font-weight: bold;
   font-size: 300%;
}

.adviesprijs{
   margin: 0% 10% 0% 0%;
   float: left;
   text-decoration-line: line-through;
   color: black;
}

.prijs h2{
   color: red;
   float: left;
   width: 80%;
}


.beschrijvingproduct{
   margin: 20% 0% 0% 0%;
   width: 100%;
   float:none;
}

.productspecificatie ol li{
   margin-left: 20%;
}


.pluspunten1en2{
   margin: 5%;
   margin-left: 0%;
   width: auto;
   padding:1% 5% 1% 5%;
   float: left;
   background-color: black;
   color: white;
}

.pluspunten3{
   margin: 5%;
   margin-left: 0%;
   margin-right: 10%;
   width: auto;
   padding:1% 5% 1% 5%;
   float: left;
   background-color: black;
   color: white;
}


.koopproduct{
   margin:5%;
   background-color: black;
   color: white;
   width:80%;
   height: 100px;
   font-size: 60px;
}

.koopproduct h2{
   text-align: center;
   color: white;
}

/*Security*/

.inhoudsopgave {
   width: 15%;
   position: fixed;
   float: left;
}

.inhoudsopgave h1, h2, p {
   margin-left: 10px;
   color: black;
}

.inhoudsopgave h2 {
   font-size: 1.5rem;
}

.inhoudsopgave p {
   font-size: 1rem;
}

#opvulling-security {
   /*background-color: red;*/
   width: 15%;
   float: left;
   border: 1px;
   height: 100%;
}

.security {
   width: 50%;
   float: right;
   border-left: 1px solid black;
   padding: 40px 25% 40px 9%;
}

.security h1 {
   font-size: xx-large;
   text-align: center;
}

.security h2 {
   font-size: x-large;
}

.security h3 {
   font-size: larger;
}

.security h4 {
   font-size: 16px;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
}

.security h5 {
   font-size: 17px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.security i {
   font-family: inherit;
}

.security p {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   font-size: 15px;
}


.security li {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   list-style-position: inside;
   padding: 2px;
}

.security b {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 15px;
}



.security table, th, td {
   border: 2px solid;
   border-collapse: collapse;
   padding: 8px;
}

.security table th {
   background-color: #a69f95;
}

.security tr:nth-child(even){
   background-color: #f2f2f2;
}

.security tr:hover {
   background-color: #ddd;
}

.security img {
   margin: 10px 0px;
}

#specialelist {
   list-style-type: "-  ";
}

.security a {
   color: blue;
   font-family: Arial, Helvetica, sans-serif;
}

